.features-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    margin-top: 2rem;
}

.tab-menu {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 10px;
}

.tab-item {
/*     padding: 10px 20px;
 */    background-color: #f0f0f0;
    border-radius: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}